html, body{
    background-color: #8D99AE;
}

.titleHolder{
    color:black;
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3rem;
}

.addBook{
    background-color: #E85D75;
    text-shadow: 1px 1px black;
    border-radius: 5px;
    color: #EDF2F4;
    align-self: center;
    width: 15rem;
    height: 3rem;
    padding: 5px;
    margin-bottom: 40px;
}

.TitleOfPage{
    align-self: center;    
    font-size: 2rem;
    padding-top: 20px;
}

.AuthorOfPage{
    align-self: center;  
}

.delete{
    float: right;
}

.notification{
    width: 20rem;
}

.completeButton{
    color: #EDF2F4;
    background-color: #2B2D42;
    text-shadow: 2px 2px black;

    width:100%;
    height: 40px;
    border-radius: 5px;
}


.Uncompleted{
    color: #EDF2F4;
    background-color: #E85D75;
    text-shadow: 2px 2px black;

    width:100%;
    height: 40px;
    border-radius: 5px;
}





.bookPages{
    padding-bottom: 5px;
}
.bookTitle{
    font-size: larger;
    justify-self: center;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }